* {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    color: white;
    background-color: black;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 42px;
}

p {
    color: gray;
    font-size: 21px;
}

#copyright p {
    text-align: right;
}

a {
    color: aquamarine;
}